# Python
venv/
.venv/

*.py[cod]
__pycache__

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# MacOS
*.DS_Store

# AMT
out/
/.idea/
amt.log
ui/output.html
