<h1>{{name}}</h1>

<div data-v-40e6aa29="" class="item default custom-blue-box">
    <p data-v-40e6aa29="" lang="nl"><span data-v-40e6aa29="" class="word-break" ca="">
            <div data-v-40e6aa29="" class="width-sizing custom-html">
                {{description}}</div>
        </span>
    </p>
    <dl data-v-40e6aa29="" class="dl columns--data">
        <div data-v-40e6aa29="" class="">
            <dt data-v-40e6aa29="">Organization(s)</dt>
            <dd data-v-40e6aa29="" class="no-bottom-margin" lang="nl"><span data-v-40e6aa29="" class="word-break" ca="">
                    <div data-v-40e6aa29="" class="width-sizing custom-html">
                        {% for owner in owners %}
                        {{owner.organization}}
                        {{owner.oin}}<br />
                        {{owner.name}}, {{owner.role}}<br />
                        {{owner.email}}<br />
                        {% endfor %}
                    </div>
                </span>
            </dd>
        </div>
        <div data-v-40e6aa29="" class="">
            <dt data-v-40e6aa29="">Publication Category</dt>
            <dd data-v-40e6aa29="" class="no-bottom-margin" lang="nl"><span data-v-40e6aa29="" class="word-break" ca="">
                    <div data-v-40e6aa29="" class="width-sizing custom-html">{{publication_category}}</div>
                </span>
            </dd>
        </div>
        <div data-v-40e6aa29="" class="">
            <dt data-v-40e6aa29="">Status</dt>
            <dd data-v-40e6aa29="" class="no-bottom-margin" lang="nl"><span data-v-40e6aa29="" class="word-break" ca="">
                    <div data-v-40e6aa29="" class="width-sizing custom-html">{{status}}</div>
                </span>
            </dd>
        </div>
        <div data-v-40e6aa29="" class="">
            <dt data-v-40e6aa29="">Begin Date</dt>
            <dd data-v-40e6aa29="" class="no-bottom-margin" lang="nl"><span data-v-40e6aa29="" class="word-break" ca="">
                    <div data-v-40e6aa29="" class="width-sizing custom-html">{{begin_date}}</div>
                </span>
            </dd>
        </div>
        {% if end_date %}
        <div data-v-40e6aa29="" class="">
            <dt data-v-40e6aa29="">End Date</dt>
            <dd data-v-40e6aa29="" class="no-bottom-margin" lang="nl"><span data-v-40e6aa29="" class="word-break" ca="">
                    <div data-v-40e6aa29="" class="width-sizing custom-html">{{end_date}}</div>
                </span>
            </dd>
        </div>
        {% endif %}
    </dl>
</div>

<div class="tabs" data-decorator="init-tabs">
    <ul data-v-25c41979="" class="tabs__list" role="tablist">
        <li onclick="toggle('systemcard', this)" data-v-25c41979="" role="presentation"><a data-v-25c41979=""
                tabindex="0" aria-selected="false" class="noselect is-selected no-focus-border" role="tab"
                aria-controls="panel-1">System card</a></li>
        <li onclick="toggle('responsibleuse', this)" data-v-25c41979="" role="presentation"><a data-v-25c41979=""
                tabindex="-1" aria-selected="false" class="noselect no-focus-border" role="tab"
                aria-controls="panel-2">Responsible Use</a></li>
        <li onclick="toggle('operations', this)" data-v-25c41979="" role="presentation"><a data-v-25c41979=""
                tabindex="-1" aria-selected="false" class="noselect no-focus-border" role="tab"
                aria-controls="panel-3">Operations</a></li>
        <li onclick="toggle('modelcard', this)" data-v-25c41979="" role="presentation"><a data-v-25c41979=""
                tabindex="-1" aria-selected="false" class="noselect no-focus-border" role="tab"
                aria-controls="panel-4">Model card</a></li>
        <li onclick="toggle('assessmentcard', this)" data-v-25c41979="" role="presentation"><a data-v-25c41979=""
                tabindex="-1" aria-selected="false" class="noselect no-focus-border" role="tab"
                aria-controls="panel-5">IAMA</a></li>
    </ul>

    <div id="systemcard" class="tad_visible tad_tabs">
        <table class="table__data-overview">
            <tr>
                <th>UPL</th>
                <td>{{upl}}</td>
            </tr>
            <tr>
                <th>Labels</th>
                <td>
                    {% for label in labels %}
                    {{ label.name }}={{label.value}},
                    {% endfor %}
                </td>
            </tr>
            <th>References</th>
            <td>
                {% for item in references %}
                {{item}}<br />
                {% endfor %}
            </td>
            </tr>
        </table>
    </div>
    <div id="responsibleuse" class="tad_hidden tad_tabs">
        <table class="table__data-overview">
            <tr>
                <th>Goal and impact</th>
                <td>{{goal_and_impact}}</td>
            </tr>
            <tr>
                <th>Considerations</th>
                <td>{{considerations}}</td>
            </tr>
            <tr>
                <th>Human intervention</th>
                <td>{{human_intervention}}</td>
            </tr>
            <tr>
                <th>Risk management</th>
                <td>{{risk_management}}</td>
            </tr>
            <tr>
                <th>Legal base</th>
                <td>
                    {% for item in legal_base %}
                    {{item.name}}: <a href={{item.link}}>{{item.link}}</a>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
    <div id="operations" class="tad_hidden tad_tabs">
        <table class="table__data-overview">
            <tr>
                <th>Data</th>
                <td>{{used_data}}</td>
            </tr>
            <tr>
                <th>Technical design</th>
                <td>{{technical_design}}</td>
            </tr>
            <tr>
                <th>External providers</th>
                <td>
                    {% for item in external_providers %}
                    {{item}}<br />
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
    <div id="modelcard" class="tad_hidden tad_tabs">
        <table class="table__data-overview">
            <tr>
                <th>Language</th>
                <td>
                    {% for lang in models[0].language %}
                    {{ lang }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>License</th>
                <td>
                    {% if models[0].license != "other" %}
                    {{ models[0].license }}
                    {% else %}
                    {{ models[0].license_name }} <br />
                    <a href={{ models[0].license_link }}>{{ models[0].license_link }}</a>
                    {% endif %}
                </td>
            </tr>
            <th>Tags</th>
            <td>
                {% for tag in models[0].tags %}
                {{ tag }}
                {% endfor %}
            </td>
            <tr>
                <th>Owners</th>
                <td>
                    {% for owner in owners %}
                    {{owner.oin}}<br />
                    {{owner.organization}}<br />
                    {{owner.name}}<br />
                    {{owner.email}}</br>
                    {{owner.role}}</br>
                    {% endfor %}
                </td>
            </tr>
        </table>

        {% for model in models[0].model_index %}
        <h2> {{model.name}} </h2>
        <table class="table__data-overview">
            <tr>
                <th> Model </th>
                <td> <a href={{ model.model }}>{{ model.model }}</a>
                </td>
            </tr>
            <tr>
                <th> Artifacts </th>
                <td>
                    {% for artifact in model.artifacs %}
                    {{ artifact }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th> Parameters </th>
                <td>
                    {% for parameter in model.parameters %}
                    {{ parameter.name }} <br />
                    {{ parameter.value }} <br />
                    {% for label in parameter.labels %}
                    {{ label.name }} <br />
                    {{ label.value }}
                    {% endfor %}
                    {% endfor %}
                </td>
            </tr>

        </table>

        {% for result in model.results %}
        <h3> Task: {{result.task.name}} </h3>

        {% for dataset in result.datasets %}
        <h4> Dataset {{dataset.name}} </h4>
        <table>
            <tr>
                <th> Type </th>
                <td> {{dataset.type}} </td>
            </tr>
            <tr>
                <th> Split </th>
                <td> {{dataset.split}} </td>
            </tr>
            <tr>
                <th> Features </th>
                <td>
                    {% for feature in dataset.features %}
                    {{ feature }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th> Revision </th>
                <td> {{dataset.revision}} </td>
            </tr>
            {% endfor %}

        </table>

        {% for metric in result.metrics %}
        <h4> Metric: {{metric.name}} </h4>
        <table>
            <tr>
                <th> Type </th>
                <td> {{metric.type}} </td>
            </tr>
            <tr>
                <th> Value </th>
                <td> {{metric.value}} </td>
            </tr>
            <tr>
                <th> Labels </th>
                <td>
                    {% for label in metric.labels %}
                    {{ label.name }} <br />
                    {{ label.type }} <br />
                    {{ label.value }}
                    {% endfor %}
                </td>
            </tr>

        </table>
        {% endfor %}
        {% endfor %}

        {% endfor %}

    </div>
    <div id="assessmentcard" class="tad_hidden tad_tabs">

        <p> Submitted on {{assessments[0].date}}.</p>

        {% for content in assessments[0].contents %}

        <h3> {{content.question}} </h3>
        Answered at {{ content.timestamp | timestamp_to_datetime}} by
        <ul>
            {% for author in content.authors %}
            <li> {{author.name}} </li>
            {% endfor %}
        </ul>

        <p>
            {{content.answer}} <br />
        </p>

        {% endfor %}
    </div>


</div>
